<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="#">PROCHANGE <sup>ADMIN</sup></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Rechercher..." aria-label="Rechercher..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-secondary" id="btnNavbarSearch" type="button"><i class="fad fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 -none d-md-inline-block">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fad fa-user-circle"></i> Aina Fenomanitra</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><i class="fad fa-tools"></i> Paramètres</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item text-danger" href="#"><i class="fad fa-sign-out-alt"></i> Déconnexion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="{{ path("dashboard") }}">
                        <div class="sb-nav-link-icon"><i class="fad fa-tachometer-alt"></i></div>
                        Tableau de Bord
                    </a>
                    <div class="sb-sidenav-menu-heading">AJOUT DE PREMIER NIVEAU</div>
                    <a class="nav-link" href="{{ path("exchange") }}">
                        <div class="sb-nav-link-icon"><i class="fad fa-wallet"></i></div>
                        Cours de change
                    </a>
                    <a class="nav-link" href="{{ path("devise") }}">
                        <div class="sb-nav-link-icon"><i class="fad fa-dollar-sign"></i></div>
                        Devises
                    </a>
                    <a class="nav-link" href="{{ path("type-document") }}">
                        <div class="sb-nav-link-icon"><i class="fad fa-passport"></i></div>
                        Types de document
                    </a>
                    <a class="nav-link" href="{{ path("motif-voyage") }}">
                        <div class="sb-nav-link-icon"><i class="fad fa-truck-moving"></i></div>
                        Motifs de voyage
                    </a>
                    <a class="nav-link" href="{{ path("taxe") }}">
                        <div class="sb-nav-link-icon"><i class="fad fa-percent"></i></div>
                        Taux de valeur ajoutée
                    </a>

                    <div class="sb-sidenav-menu-heading">STATISTIQUES</div>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                        Les clients
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-money-check-alt"></i></div>
                        Les achats
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-money-bill-alt"></i></div>
                        Les ventes
                    </a>

                    <div class="sb-sidenav-menu-heading">SYSTÈME</div>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fad fa-users"></i></div>
                        Les utilisateurs
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fad fa-database"></i></div>
                        Base de donnée
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small text-center mb-1">Copyright &copy; Prochange 2021</div>
                <div class="small text-center">Créer par AinaDev Project</div>
            </div>
        </nav>
    </div>